 * {
     margin: 0;
     padding: 0;
 }

 body {
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background: orange;
 }

 .button {
     cursor: pointer;
     width: 40px;
 }

 .slider {
     -webkit-appearance: none;
     width: 100%;
     height: 4px;
     border-radius: 5px;
     outline: none;
     -webkit-transition: .2s;
     transition: opacity .2s;
     border: 1px solid white;
     appearance: none;
 }

 .slider::-webkit-slider-thumb:hover {
     box-shadow: 0px 0px 0px 8px rgba(248, 247, 247, 0.474);
     transition: 0.5s ease-in-out;
 }

 .slider::-moz-range-thumb {
     width: 15px;
     height: 15px;
     border-radius: 50%;
     cursor: pointer;
 }

 .slider::-webkit-slider-thumb {
     appearance: none;
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background-color: white;
     cursor: pointer;
     transition: 0.3s ease-in-out;
 }

 .player {
     display: flex;
     flex-direction: column;
     width: 800px;
     height: 600px;
     border-radius: 20px;
     overflow: hidden;
     box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.4);
 }


  /* Video */
 .player .video {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 75%;
     position: relative;
 }

 .player .video video {
     display: flex;
     height: 100%;
     width: 100%;
     object-fit: cover;
 }

 .player .video .settings-box {
     display: none;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: white;
     gap: 5px;
     width: 100px;
     height: 200px;
     background-color: rgba(0, 0, 0, 0.6);
     position: absolute;
     bottom: 0;
     right: 0;
 }

 .player .video .settings-box .video-switch {
     display: flex;
     width: 100%;
     justify-content: space-evenly;
     border-bottom: 1px solid grey;
 }

 .player .video .settings-box .speed-box {
     display: flex;
     width: 100%;
     height: 80%;
     justify-content: center;
     align-items: center;
 }

 .player .video .settings-box .speed-box .speed-input {
     display: flex;
     position: relative;
     width: 60%;
     justify-content: right;
 }

 .player .video .settings-box .speed-box .speed-input #speedSlider {
     writing-mode: vertical-lr;
     direction: rtl;
     height: 120px;
     border-radius: 5px;
     width: 4px;
     background: linear-gradient(to top, orange 50%, rgb(204, 204, 204) 50%);
 }

 .player .video .settings-box .speed-box .slider-value {
     display: flex;
     width: 40%;
     justify-content: center;
     align-items: center;
 }


 /* Player Controls */
 .player .controls {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     box-sizing: border-box;
     width: 100%;
     height: 25%;
     background-color: rgba(0, 0, 0, 0.6);
     flex-direction: column;
     padding: 10px 15px 20px 15px;
     gap: 15px;
 }

 .player .controls .slider-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 5px 10px 10px 10px;
     width: 100%;
 }

 .player .controls .slider-container .time {
     display: flex;
     justify-content: space-between;
     width: 100%;
     height: 30px;
 }

 .player .controls .slider-container .time #currentTime,
 #duration {
     color: white;
 }

 .player .controls .buttons-container {
     display: flex;
     justify-content: space-around;
     width: 100%;
 }

 .player .controls .buttons-container .sound {
     display: flex;
     align-items: center;
     width: 25%;
     gap: 10px;
 }

 .player .controls .buttons-container .sound #soundButton {
     display: flex;
     width: 25px;
     height: 24px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     cursor: pointer;
 }

 .player .controls .buttons-container .playback {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 50%;
 }

 .player .controls .buttons-container .settings {
     display: flex;
     width: 25%;
     justify-content: end;
     align-items: center;
     gap: 25px;
 }

 .player .controls .buttons-container .settings .icon-container {
     display: flex;
     justify-content: center;
     border-radius: 24px;
 }

 .player .controls .buttons-container .settings .icon-container.bright {
     box-shadow: 0 0 15px rgba(255, 255, 255, 1);
 }

 .player .controls .buttons-container .settings .icon-container #settingsButton.bright-img {
     animation: rotate 0.5s ease-out;
     border-radius: 50%;
     background: #ac9b9b;
     transition: filter 0.3s ease, box-shadow 0.3s ease;
     box-shadow: 0 0 15px rgba(255, 255, 255, 1);
     background: radial-gradient(ellipse, transparent, transparent, #c19696) #eee0c7;
 }

 .player .controls .buttons-container .settings .icon-container #settingsButton.rotate {
     animation: rotate 0.5s ease forwards;
     border-radius: 50%;
     background: #ac9b9b;
     transition: filter 0.3s ease, box-shadow 0.3s ease;
     box-shadow: 0 0 15px rgba(255, 255, 255, 1);
     background: radial-gradient(ellipse, transparent, transparent, #c19696) #eee0c7;
 }

 .player .controls .buttons-container .settings .icon-container #settingsButton.rotate-back {
     animation: rotate-back 0.5s ease forwards;
 }

 @keyframes rotate {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(45deg);
     }
 }

 @keyframes rotate-back {
     0% {
         transform: rotate(45deg);
     }

     100% {
         transform: rotate(0deg);
     }
 }


 /* Media Queries */
 @media (max-width: 820px) {
     .player {
         width: 90%;
     }
 }

 @media (max-width: 500px) {
     .button {
         width: 30px;
     }

     .player .controls .buttons-container .settings {
         gap: 10px;
     }
 }